/*
 * Button
 */
.btn {
  text-align: center;
  color: #fff;
  font-size: 0.875rem;
  line-height: 1.25rem;
  border-radius: 0.5rem;
  background: map-get($colors, primary);

  transition: ease-in-out 0.2s;
  border: none;
  font-weight: bold;

  cursor: pointer;

  &:hover {
    opacity: 0.8 !important;
  }

  &--black {
    background: map-get($colors, background);
  }
}
